<div class="box" (scroll)="onScroll($event)">
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, culpa,
		illum error optio recusandae voluptate doloribus dolor, earum iure eum iste
		magni reiciendis facere aperiam voluptatem! Libero quae dignissimos magnam!
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, culpa,
		illum error optio recusandae voluptate doloribus dolor, earum iure eum iste
		magni reiciendis facere aperiam voluptatem! Libero quae dignissimos magnam!
	</p>
</div>
<h1>{{ scroll }}</h1>
<hr />
<hr />
<button (click)="increaseAge()">Aumentar edad</button>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Enviar</button>
<hr />
<hr />
<h1>Hola Mundo</h1>
<h2>{{ "Hola Mundo ".repeat(5) }}</h2>
<h3>{{ "hola soy " + person.name }}</h3>
<input type="text" [value]="person.name" (keyup)="onKeyUp($event)" />
<h3>{{ "tengo " + person.age }}</h3>
<hr />
<hr />
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [defaultValue]="name" />
<img [src]="img" alt="imagen" width="100" />
<progress max="70" [value]="person.age"></progress>
