<h1>*ngFor</h1>
<ul>
	<li *ngIf="names.length === 0">No hay nombres</li>
	<li *ngFor="let name of names; index as i">
		{{ i + " " + name }}
		<button (click)="deleteName(i)">Eliminar</button>
	</li>
</ul>
<input type="text" required #nameInput="ngModel" [(ngModel)]="newName" />
<button (click)="addName()">Agregar nombre</button>
<hr />
<hr />

<div>
	<h1>*ngIF</h1>
	<h3 *ngIf="person.name === 'Juan'; else myBlock">
		{{ "hola soy " + person.name }}
	</h3>
	<ng-template #myBlock>
		<h3>Bloque else</h3>
	</ng-template>
	<label>
		<input
			type="text"
			required
			#nameInput="ngModel"
			[(ngModel)]="person.name"
		/>
	</label>
	<span>Valid: {{ nameInput.valid }}</span>
</div>

<hr />
<hr />
<div>
	<div class="box" (scroll)="onScroll($event)">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, culpa,
			illum error optio recusandae voluptate doloribus dolor, earum iure eum
			iste magni reiciendis facere aperiam voluptatem! Libero quae dignissimos
			magnam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
			culpa, illum error optio recusandae voluptate doloribus dolor, earum iure
			eum iste magni reiciendis facere aperiam voluptatem! Libero quae
			dignissimos magnam!
		</p>
	</div>
	<h1>{{ scroll }}</h1>
</div>

<hr />
<hr />
<div>
	<button (click)="increaseAge()">Aumentar edad</button>
	<button [disabled]="btnDisabled">Enviar</button>
	<button (click)="toggleButton()">Enviar</button>
</div>

<!-- ngModel -->
<hr />
<hr />
<div>
	<h1>ngModel Hola Mundo</h1>
	<h2>{{ "Hola Mundo ".repeat(5) }}</h2>
	<h3>{{ "hola soy " + person.name }}</h3>
	<label>
		<input
			type="text"
			required
			#nameInput="ngModel"
			[(ngModel)]="person.name"
		/>
	</label>
	<span>Valid: {{ nameInput.valid }}</span>
	<h3>{{ "tengo " + person.age }}</h3>
	<label>
		<input
			type="number"
			min="18"
			max="26"
			required
			#ageInput="ngModel"
			[(ngModel)]="person.age"
		/>
	</label>
	<span>Valid: {{ ageInput.valid }}</span>
</div>

<hr />
<hr />
<div>
	<h1>Hola Mundo</h1>
	<h2>{{ "Hola Mundo ".repeat(5) }}</h2>
	<h3>{{ "hola soy " + person.name }}</h3>
	<input type="text" [value]="person.name" (keyup)="onKeyUp($event)" />
	<h3>{{ "tengo " + person.age }}</h3>
</div>

<hr />
<hr />
<div>
	<button [disabled]="btnDisabled">Enviar</button>
	<input type="text" [defaultValue]="name" />
	<img [src]="img" alt="imagen" width="100" />
	<progress max="70" [value]="person.age"></progress>
</div>
